{% set flagPath = {
    'el': asset('images/flags/el.png'),
    'en': asset('images/flags/en.png'),
} %}

{{ dump(flagPath) }}
{#{% for option in language.allOptions(true) %}#}
{#    <a href="{{ option.path }}" class="btn flag w-100">#}
{#        <img src="{{ flagPath[option.path] }}" alt="">#}
{#    </a>#}
{#{% endfor %}#}