{% for option in language.allOptions(true) %}
    <a href="{{ option.path }}" class="btn flag w-100 mb-2 mt-2">
        <img src="{{ asset('images/flags/' ~ option.flag ~ '.png') }}" alt="Language flag: {{ option.flag }}">
    </a>
{% endfor %}