{% set flagPath = {
    'el': asset(asset_path(('assets/images/flags/el.png')),
    'en': asset(asset_path(('assets/images/flags/en.png')),
} %}

{{ dump(flagPath) }}
{#{% for option in language.allOptions(true) %}#}
{#    <a href="{{ option.path }}" class="btn flag w-100">#}
{#        <img src="{{ flagPath[option.path] }}" alt="">#}
{#    </a>#}
{#{% endfor %}#}