{% extends '@Iconic/full-screen.html.twig' %}

{% block body %}
    <div class="card shadow" style="width: 100%; max-width: 335px;">
        <img src="{{ asset(logo) }}" class="card-img-top" alt="logo">
        <div class="card-body pb-0">
            {% block form %}

            {% endblock %}
        </div>
    </div>
{% endblock %}