{% extends '@Iconic/full-screen-form.html.twig' %}

{% block title %}
    {{ parent() }} - Εγγραφή
{% endblock %}

{% block form %}
    {{ form(registrationForm) }}
    <a href="{{ path("app_login") }}" class="btn text-secondary btn-outline-primary w-100">
        {{ 'registration.label.login' | trans }}
    </a>
    <hr>
    {% include('@Iconic/partials/languages.html.twig') %}
{% endblock %}